html,
body,
#main {
  height: 100%;
}

.modal-dialog {
  margin: auto;
  width: 80%;
  top: 10%;
}

#accordionInfo {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

table {
  table-layout: fixed;
}

tr,
.flag {
  height: 40px;
}

td h3 {
  font-size: 0.8em;
}
td p {
  font-size: 0.7em;
}

.weather-img {
  padding: 0 !important;
  width: 40px;
  height: 40px;
}

.weather-img img {
  width: 100%;
  height: 100%;
}

.news-img {
  width: 50px;
  height: 50px;
}

.news-img img {
  width: 100%;
  height: 100%;
}

.news-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup {
  font-family: var(--bs-font-sans-serif) !important;
  font-size: 14px !important;
}

.popup-image {
  width: 100%;
}

.leaflet-popup-scrolled {
  border: 0px solid white !important;
}

/* Scrollbar on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: lightgray white;
}

/* Scrollbar on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-left: 3px solid white;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 40%;
  }
}

@media (min-width: 1400px) {
  .modal-dialog {
    max-width: 30%;
  }
}
