html,
body,
#main,
#map {
  height: 100%;
}

#collapseInfo {
  position: static;
  max-width: 80%;
  z-index: 1000;
  font-size: 14px;
}

#accordionInfo {
  margin: 10px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

table {
  width: 100%;
}

tr,
.flag,
.icon {
  height: 40px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  #collapseInfo {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  #collapseInfo {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  #collapseInfo {
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  #collapseInfo {
    max-width: 40%;
  }
}

@media (min-width: 1400px) {
  #collapseInfo {
    max-width: 30%;
  }
}
